---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  <p> Zahvaljujemo se vam za poslano sporočilo! 

	V kolikor ste izrazili željo po odgovoru, se vam bomo posvetile takoj, ko bo mogoče.

Lep dan,
Vaše Soreline
  </p>
</div>

<form action="//formspree.io/vse.zivo3@gmail.com" method="POST">
	<input type="hidden" name="_subject" value="soreline.github.io kontakt" />
    <input type="email" name="_replyto" placeholder="Vaš email naslov...">
	<textarea placeholder="Vaše sporočilo..."></textarea>
    <input type="submit" value="Pošlji!">
	<input type="text" name="_gotcha" style="display:none" />
	<input type="hidden" name="_next" value="//soreline.github.io/about/"/>
</form>
